.deepPurple{
  color: #0C0032
}
.Purple{
  color: #190061
}
.lightPurple{
  color: #240090
}
.bluePurple{
  color: #3500D3
}
.darkGrey{
  color: #282828
}

body{
  position: relative;
  overflow-x: hidden;
  overflow-wrap: break-word;
  font-family: OCR A Std, monospace;
  padding-top: 80px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grad {
  background-image: linear-gradient(to right, #0C0032, #240090);

}
.blackBg{
  background-color: black;
}

.greyBg{
  background-color: #282828;
}

.whiteText{
    color: white;	
}

.navbar{
  height: 80px;
}
.textCenter{
  text-align: center;
}

.center{
  float: center;
}

.titleDiv{
  padding-top: 40px;
  padding-bottom: 20px;
}

.titles{
  font-size: 5em;
  text-shadow: #3500D3 10px 0 10px;
}
.caps{
  text-transform:uppercase;
}

.info{
  padding: 30px;
  margin: 30px;
  background-color: #282828;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #3500D3;
}

.topButton{
  z-index: 1000;
  position: fixed;
  right: 0; 
  bottom: 0;
  border-radius: 50%;
  border-width: 0;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to right, #0C0032, #240090);
}

.topButton:hover{
	font-size: 1.5em;
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}















@media screen and (max-width: 600px) {
  .dropdown-menu{
	background-image: linear-gradient(to right, #0C0032, #240090)!important;
	border: none;
  }
  .navbar{
    height: unset;
  }
}
