.deepPurple{
  color: #0C0032
}
.Purple{
  color: #190061
}
.lightPurple{
  color: #240090
}
.bluePurple{
  color: #3500D3
}
.darkGrey{
  color: #282828
}

body{
  position: relative;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grad {
  background-image: linear-gradient(to right, #0C0032, #240090);

}
.blackBg{
  background-color: black;
}